<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.puchd.puplanner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splashscreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateEditHoliday"/>
        <activity android:name=".Walkthrough">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginCheck">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateLocalProfile">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:launchMode="singleTop" android:theme="@style/CustomTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutUs">
        </activity>
        <activity android:name=".NewSchedule"/>
        <activity android:name=".CreateEditEntry" />
        <activity android:name=".ViewEntry"/>
        <activity android:name=".Day_View"/>

        <activity android:name=".FileReceiver">
            <intent-filter>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:host="*"/>
            <data android:mimeType="text/xml"/>
            <data android:pathPattern=".*"/>
            <data android:scheme="content"/>
            <data android:scheme="file"/>
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.puchd.puplanner.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/fileprovider" />
        </provider>


        <receiver
            android:icon="@drawable/icon"
            android:label="Day Widget"
            android:name=".WidgetProvider_Day" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>
        <service android:name=".WidgetDayService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />


        <receiver android:name=".PendingIntentReceiver"/>
        <receiver android:name=".NotificationReceiver"/>
        <receiver android:name=".MidnightTasksReceiver"/>
        <receiver android:name=".BootCompletedListener">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


    </application>

</manifest>